<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Stock Display App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class=page>
	<body>
        <h1>Stock Display App</h1>
        {{ div|safe }}
        {{ script|safe }}
    </body>
	<h4>
		<form id='answerform' method='post' action='graph'>
			<p>
				Input Ticker Symbol: <br />
				<input type='text' name='stock_pick' value='GOOG'/> <br />
			</p>
			<p>
				<input type='submit' value='Submit' />
			</p>
		</form>
	</h4>
</div>

